*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/* ---background is body colour, color is for text--- */
body{
    background: white;
    color: blue;
}

#header{
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backg{
    margin-left: 85%;
    margin-top: -50%;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(231, 31, 41);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}



.header-text{
    margin-top: 20%;
    font-size: 70px;
    color: rgb(20, 0, 90);
}

.header-text h1{
    font-size: 45px;
    margin-top: 20px;
    color: blue;
}

.header-text h3{
    font-size: 20px;
    color: white;
    writing-mode: vertical-lr;
    display: inline;
    background-color: grey;
    padding: 15px;
    transform: rotate(180deg);
    position: relative;
    margin-left: 95%;
    top: -400px;
}
 


.bottom-text{
    font-size: 20px;
    color: grey;
    padding-left: 90%;
    margin-top: -13%;
}


/* -----about--- */
#about{
    padding: 80px 0;
    color: gray;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: grey;
}


.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 100;
    height: 3px;
    background-color: rgb(25, 13, 197);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}




/* ----core expertise--- */
#services{
    padding: 30px 0;
}



.services-list{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;  
}

.services-list div{
    background: rgb(241, 246, 247);
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div:hover{
    background: rgb(226, 147, 203);
    transform: translateY(-10px);
}

.services-list h2{
    color: rgb(41, 128, 228);
    padding: 50px  20px 0;
}

.services-list p{
    color: rgb(66, 64, 64);   
}


.test1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid purple;
    float: left;
}


/* -----experience--- */

#experience{
    padding: 50px 0;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: grey;
}


.experience-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-top: 50px;
    position: relative;  
}

.experience-list div{
    background: skyblue;
    border-radius: 10px;
}

.test2{
    width: 150px;
    background: white;
}

.experience-list p{
    padding: 50px 0;
    color: navy;
}

.experience-list h2{
    padding: 10px ;
    color: white;
}



/* ----Company Structure--- */

#structure{
    width: 100%;
    height: 100vh;
    background-image: url(images/structure\ back.jpg);
    background-size: cover;
    background-position: center;
}

.structure-list{
    display: grid;
    background: whitesmoke;
    padding: 30px;
    margin: 590px 0;
}

.sub-titl{
    color: grey;
    font-size: 60px;
    font-weight: 600;
    background: whitesmoke;

}
.test3{
    width: 1000px;
    height: 500px;
    padding-left: 60px;
    padding-top: 100px;
}

.structure-list h2{
    color: gray;
    padding: 10px;
}

.structure-list p{
    color: gray;
}



/* -----contact--- */
#contact{
    width: 100%;
    height: 100vh;
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-position: center;
}



.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic{
    width: 240px;
}

.head ul li {
    list-style: none;
    margin: 10px 10px;
    color: grey;
}


.head{
    background: whitesmoke;
    padding: 20px;
    margin-top: 40px;
}


.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom h1 span{
    color: red;
}

.bottom{
    background: whitesmoke;
    padding: 20px;
    margin-top: 1000px;
}




/* -----css for small screens---- */
